* {
  font-family: "Inter", sans-serif;
  text-align: center;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.gray-text {
  color: #101828;
}
.gray-text2 {
  color: #667085;
}
.gray-bg {
  background: #eaecf0;
}
